---
title: "Creativity plus collaboration"
description:
  Cloud-based video production, review, and publishing for creators and teams
---

<div
  class="uk-cover-container uk-height-large uk-background-secondary hero-wrapper"
>
  <div uk-cover class="hero-video-wrapper">
    <center>
      <video
        class="hero-video"
        src="video/hero-video.mp4"
        uk-video
        autoplay
        playsinline
        muted
        loop
        id="myVideo"
      ></video>
    </center>
  </div>
  <div class="uk-text-center uk-overlay uk-position-center">
    <div class="uk-light">
      <h1 class="uk-heading-primary">{{% param "title" %}}</h1>
      <p class="uk-text-large">{{% param "description" %}}</p>
    </div>
    <br />
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/synura"
      method="post"
      onsubmit="page.open('https://buttondown.email/synura')"
      class="embeddable-buttondown-form"
    >
      <input
        type="email"
        autocomplete="off"
        name="email"
        id="bd-email"
        placeholder="Enter your email address"
        class="uk-input uk-form-width-medium"
      /><br />
      <input
        type="submit"
        class="uk-button uk-button-default button-brand uk-button-large uk-margin-top"
        value="Sign up for our waiting list"
      />
    </form>
  </div>
</div>

<div uk-grid class="uk-margin-medium-top">
  <div class="uk-width-1-2">
    <div uk-grid>
      <div class="uk-width-1-1">
        <h2 class="uk-h3">
          A better way to create<i
            class="uk-visible@s uk-margin-small-left"
            uk-icon="users"
          ></i>
        </h2>
        <p>
          Leave ad-hoc script writing, asset management, transcription,
          feedback, and other workflows behind. Synura naturally brings your
          ideas and collaborators together.
        </p>
      </div>
    </div>
  </div>

  <div class="uk-width-1-2">
    <div uk-grid>
      <div class="uk-width-1-1">
        <h2 class="uk-h3">
          Production on the go
          <i
            class="uk-visible@s uk-margin-small-left"
            uk-icon="cloud-upload"
          ></i>
        </h2>
        <p>
          Store your recordings, scenes, settings, assets, and everything else
          you need in the cloud, and trust that you've always got a copy safely
          backed up.
        </p>
      </div>
    </div>
  </div>
</div>

<div uk-grid>
  <div class="uk-width-1-2">
    <div uk-grid>
      <div class="uk-width-1-1">
        <h2 class="uk-h3">
          Publish with confidence<i
            class="uk-visible@s uk-margin-small-left"
            uk-icon="star"
          ></i>
        </h2>
        <p>
          Build review and approval into your process, and automatically publish
          to your audiences wherever they are. YouTube, Twitter, and more -
          we've got you covered.
        </p>
      </div>
    </div>
  </div>

  <div class="uk-width-1-2">
    <div uk-grid>
      <div class="uk-width-1-1">
        <h2 class="uk-h3">
          Open source powered<i
            class="uk-visible@s uk-margin-small-left"
            uk-icon="git-branch"
          ></i>
        </h2>
        <p>
          Synura is built with open source in mind from the start. Our premier
          integration is with
          <a href="https://obsproject.com"
            >Open Broadcaster Software<sup>®️</sup> (OBS)</a
          >, the gold standard for recording and streaming video.
        </p>
      </div>
    </div>
  </div>
</div>
