---
title: Thanks for signing up
description: Landing page for our waiting list signup.
sitemapExclude: true
---

<h1>Thanks for signing up for our waiting list!</h1>
<p>
  You will receive an email asking to confirm your email address shortly. If you
  don't see it, check your promotions or spam folder.
</p>

<p>In the meantime, you can now return <a href="/">home</a>.</p>
