<!DOCTYPE html>
<html lang="en-us" dir="ltr">
  {{ partial "head" . }} {{ block "scripts" . }} {{ end }}
  <body>
    <div class="uk-container">
      {{ partial "navbar" . }} {{ block "main" . }} {{ end }} {{ partial
      "footer" . }}
    </div>
  </body>
</html>
