<div class="uk-width-1-3@m uk-background-muted">
  <div uk-sticky="media: @m">
    <p class="uk-margin-top">
      <a href="/handbook/"
        ><span class="handbook-anchor uk-text-meta" uk-icon="icon: home"></span
      ></a>
      <a
        href="https://gitlab.com/-/ide/project/synura/synura.com/edit/main/-/content/{{ .File.Path }}"
        class="uk-text-meta"
        ><span
          class="handbook-anchor uk-text-meta"
          uk-icon="icon: file-edit"
        ></span
      ></a>
    </p>
    <h5 class="no-anchor uk-margin-top">On this page</h5>
    {{ .TableOfContents }}
    <div class="uk-margin">{{ partial "search-form.html" . }}</div>
  </div>
</div>
