<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="/images/logo.svg" />
  <title>{{ .Params.title }}</title>
  <meta name="description" content="{{ .Params.description }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ .Params.title }}" />
  <meta
    property="og:image"
    content="https://www.synura.com/images/logo_opengraph.png"
  />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="synura.com" />
  <meta property="twitter:url" content="{{ .Permalink }}" />
  <meta name="twitter:title" content="{{ .Params.title }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />
  <meta
    name="twitter:image"
    content="https://www.synura.com/images/logo_opengraph.png"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"
  ></script>
  {{ $js := resources.Get "javascript/uikit-extended-icons.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.js"
  ></script>
  {{ $js := resources.Get "javascript/cookieconsent-init.js" |minify }}
  <script defer src="{{ $js.RelPermalink }}"></script>
  {{ $css := resources.Get "css/site-style.css" |minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.css"
  />
  <script
    type="text/plain"
    data-cookiecategory="analytics"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-2YF8YFF6YB"
  ></script>
  <script type="text/plain" data-cookiecategory="analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2YF8YFF6YB");
  </script>
</head>
