<div class="uk-container">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-logo">
          <a href="/"
            ><img
              width="20"
              height="20"
              alt="logo"
              class="uk-img logo-image"
              src="/images/logo.svg"
            /><span class="logo-text">Synura</span></a
          >
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-parent">
          <a href="#" class="uk-text-meta">Company</a>

          <div uk-dropdown="mode: hover">
            <ul class="uk-nav uk-dropdown-nav">
              <li><a href="/about/">About</a></li>
              <li>
                <a href="https://boards.greenhouse.io/synura">Careers</a>
              </li>
              <li><a href="/handbook/">Handbook</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
