<script>
  window.store = {
      // You can specify your blog section only:
      {{ range where site.Pages "Section" "handbook" }}
        // For all pages in your site, use "range .Site.Pages"
        // You can use any unique identifier here
        "{{ .Permalink }}": {
            // You can customize your searchable fields using any .Page parameters
            "title": "{{ .Title  }}",
            "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
            "content": {{ .Content | plainify }}, // Strip out HTML tags
            "url": "{{ .Permalink }}"
        },
      {{ end }}
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
{{ $js := resources.Get "javascript/search.js" |minify }}
<script src="{{ $js.RelPermalink }}"></script>
